@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__span/intro__span.css);
@import url(../intro/__ul/intro__ul.css);

.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  margin: 0 450px 0 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 720px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 288px;
    margin: 0 auto;
  }
}
