.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(42, 44, 47, 0.3);
  height: 740px;
  max-width: 1184px;
  text-decoration: none;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
  transition: 0.5s linear;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: 420px) {
  .cover__overlay {
    height: 220px;
    max-width: 420px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    height: 200px;
    max-width: 320px;
  }
}
