.place__website {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .place__website {
    display: none;
  }
}
