@import url(../__website/__link/website__link.css);
@import url(../__website/__url-heading/website__url-heading.css);

.place__website {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .place__website {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}
